svg[anonid="noise-indicator"] {
	display: -moz-box !important;
	margin-top: 2px;
	-moz-margin-start: 4px !important;
	-moz-margin-end: -4px !important;
	pointer-events: auto;
	list-style-image: none;
	visibility: collapse;
}
svg[anonid="noise-indicator"].noisy,
svg[anonid="noise-indicator"].plugins {
	visibility: visible;
}
tab[pinned="true"] svg[anonid="noise-indicator"] {
	-moz-margin-start: -3px !important;
	-moz-margin-end: 3px !important;
}

/* This selector text is referenced in main.js */
svg[anonid="noise-indicator"] > use {
	fill: currentcolor;
}
svg[anonid="noise-indicator"].muted > use {
	transform: translate(0, -16px);
}
svg[anonid="noise-indicator"].plugins > use {
	transform: translate(0, -32px);
}
